<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heather.cs.user.mapper.UserMapper">

    <select id="selectExistsUserId" parameterType="String" resultType="boolean">
        SELECT EXISTS(SELECT 1
                      FROM user
                      WHERE id = #{userId})
    </select>

    <insert id="insertUser" parameterType="user">
        INSERT INTO user(id, name, password, role, status, use_yn, creator_id, modifier_id, created_at, modified_at)
        VALUES(#{id}, #{name}, #{password}, #{role}, #{status}, #{useYn}, #{creatorId}, #{modifierId}, NOW(), NOW())
    </insert>

    <insert id="insertUserHistory" parameterType="String">
        INSERT INTO user_history (user_id, sequence, name, password, role, status, use_yn, creator_id, created_at)
        SELECT u.id as user_id,
               (COUNT(uh.user_id)) + 1 AS sequence,
               u.name, u.password, u.role, u.status, u.use_yn, modifier_id, modified_at
        FROM user AS u
        LEFT JOIN user_history uh on u.id = uh.user_id
        WHERE u.id = #{userId}
        GROUP BY u.id
    </insert>

    <update id="updateStatus" parameterType="map">
        UPDATE user
        SET status = #{status},
            modifier_id = #{userId},
            modified_at = NOW()
        WHERE id = #{userId}
    </update>

    <select id="selectActiveUser" parameterType="String" resultType="user">
        SELECT id,
               name,
               password,
               role,
               status,
               use_yn,
               creator_id,
               modifier_id,
               created_at,
               modified_at
        FROM user
        WHERE id = #{userId} AND use_yn = 'Y'
    </select>

</mapper>